<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAWo_BPbjDLC20skH2kyUk3BxgVbXZmUfo</string>
	<key>GCM_SENDER_ID</key>
	<string>309371327061</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.IGApp.POC</string>
	<key>PROJECT_ID</key>
	<string>insta-poc-baecc</string>
	<key>STORAGE_BUCKET</key>
	<string>insta-poc-baecc.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:309371327061:ios:fb7b7380ff02113707fadc</string>
</dict>
</plist>